{% extends 'base.html' %}
{% block title %}MyKeep{% endblock %}
{% load static %}
{% if user.is_authenticated %}

{% block selectedNavbar %}     

<div class="row selectedNotes-navbar">
  <div class="col-xl-4 col-md-5 col-sm-5 col-7">
    <div><button class="turnOff">X</button></div>
    <div><h3><span>1</span> ghi chú được chọn</h3></div>
  </div>
  <div class="col-xl-3 col-md-3 col-sm-4 col-5">
    <div class="color">
      <button data-tooltip="Chọn màu nền"><i class="bi bi-palette"></i></button>
      <div class="palette">
        <button class="color-1" value="rgb(255,255,255)">X</button>
        <button class="color-2" value="rgb(242, 140, 140)"></button>
        <button class="color-3" value="rgb(248, 175, 66)"></button>
        <button class="color-4" value="rgb(230, 241, 18)"></button>
        <button class="color-5" value="rgb(166, 255, 0)"></button>
        <button class="color-6" value="rgb(0, 255, 229)"></button>
        <button class="color-7" value="rgb(191, 107, 239)"></button>
        <button class="color-8" value="rgb(240, 123, 244)"></button>
        <button class="color-9" value="rgb(238, 124, 164)"></button>
      </div>
    </div>
    <button class="selectedNotes-storeBtn" data-tooltip="Lưu trữ"><i class="bi bi-box-arrow-down"></i></button>
    <button class="selectedNotes-removeBtn" data-tooltip="Xóa"><i class="bi bi-trash"></i></button>
  </div>
</div>
{% endblock %}    

{% block form-navbar %} 
{% if not query %} 
<div class="row add__note-container">
    <form class="note-form" method="POST" enctype="multipart/form-data" class="w-50 mx-auto">
        {% csrf_token %}
        <div class="note-content">
            <div class="note-content-images">
            </div>
            {{ form.title }}
            {{ form.content }}
            <div class="add_images_button">
              <label for="id_image" class="btn btn-secondary btn-icon custom-file-upload"><i class="bi bi-image"></i></label>
              <input type="file" name="images" multiple id="id_image" class="d-none" />
            </div>
            <div class="row features">
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 form-navbar">
                <button class="form-navbar-button" type="button" data-tooltip="Thông báo"><i class="bi bi-bell"></i></button>
                <div class="color" id="form-color-button">
                  <input  id="form-color" name="form-color" class="d-none" />
                  <button class="form-navbar-button" type="button" data-tooltip="Chọn màu nền"><i class="bi bi-palette"></i></button>
                  <div class="palette">
                    <button type="button" class="color-1" value="rgb(255,255,255)"></button>
                    <button type="button" class="color-2" value="rgb(242, 140, 140)"></button>
                    <button type="button" class="color-3" value="rgb(248, 175, 66)"></button>
                    <button type="button" class="color-4" value="rgb(230, 241, 18)"></button>
                    <button type="button" class="color-5" value="rgb(166, 255, 0)"></button>
                    <button type="button" class="color-6" value="rgb(0, 255, 229)"></button>
                    <button type="button" class="color-7" value="rgb(191, 107, 239)"></button>
                    <button type="button" class="color-8" value="rgb(240, 123, 244)"></button>
                    <button type="button" class="color-9" value="rgb(238, 124, 164)"></button>
                  </div>
                </div>
                  <label for="id_image" class="btn btn-secondary btn-icon custom-file-upload" data-tooltip="Thêm ảnh"><i class="bi bi-image"></i></label>
                  <input type="file" name="images" multiple id="id_image" class="d-none" />
                <button class="form-navbar-button" data-tooltip="Lưu trữ" type="button" id="store-btn"><i class="bi bi-box-arrow-down"></i></button>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 text-center"><input type="submit" value="Thêm" class="btn btn-primary custom-submit"></div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block note-navbar %} 
<div class="note-navbar">
  <button class="note-navbar-button" data-tooltip="Thông báo"><i class="bi bi-bell"></i></button>
  <div class="color">
    <button class="note-navbar-button" data-tooltip="Chọn màu nền"><i class="bi bi-palette"></i></button>
    <div class="palette">
      <button class="color-1" value="rgb(255,255,255)"></button>
      <button class="color-2" value="rgb(242, 140, 140)"></button>
      <button class="color-3" value="rgb(248, 175, 66)"></button>
      <button class="color-4" value="rgb(230, 241, 18)"></button>
      <button class="color-5" value="rgb(166, 255, 0)"></button>
      <button class="color-6" value="rgb(0, 255, 229)"></button>
      <button class="color-7" value="rgb(191, 107, 239)"></button>
      <button class="color-8" value="rgb(240, 123, 244)"></button>
      <button class="color-9" value="rgb(238, 124, 164)"></button>
    </div>
  </div>
  <label for="note__id_image" class="btn btn-secondary btn-icon custom-file-upload" data-tooltip="Thêm ảnh"><i class="bi bi-image"></i></label>
  <input type="file" name="images" multiple id="note__id_image" class="d-none" />

  <form method="POST" action="{% url 'store' %}" data-tooltip="Lưu trữ">
    {% csrf_token %}
    <input type="hidden" name="note_id" value="{{ note.id }}" >
    <button class="note-navbar-button" type="submit"><i class="bi bi-box-arrow-down"></i></button>
    <input type="hidden" name="current_url" class="current_url">
  </form>
  
  <form method="POST" action="{% url 'garbage' %}" data-tooltip="Xóa">
    {% csrf_token %}
    <input type="hidden" name="note_id" value="{{ note.id }}" >
    <input type="hidden" name="current_url" class="current_url">
    <button class="note-navbar-button" type="submit"><i class="bi bi-trash"></i></button>
  </form>
</div>
{% endblock %}



{% block announce_panel %}
  <div class="announce_panel" id="stored">
    <p>Đã lưu trữ ghi chú</p>
    <button>X</button>
  </div>

  <div class="announce_panel" id="removed">
    <p>Đã chuyển ghi chú vào thùng rác</p>
    <button>X</button>
  </div>

  <div class="announce_panel" id="notes_removed">
    <p>Đã chuyển <span></span> ghi chú vào thùng rác</p>
    <button>X</button>
  </div>

  <div class="announce_panel" id="notes_stored">
    <p>Đã lưu trữ <span></span> ghi chú </p>
    <button>X</button>
  </div>

  <div class="announce_panel" id="back">
    <p>Đã hoàn tác tác vụ</p>
  </div>
{% endblock %} 

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}

